
#pokeCard {
  background: #0d0d0d;              /* dark HOME-style background */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px #00eaff;     /* neon glow */
  color: white;
}

/* --- POKÉMON IMAGE --- */
#pokeImg {
  width: 300px;        /* check the size need to make bigger */
  height: auto;
  display: block;
  margin: 10px auto;
  image-rendering: pixelated; /* makes the iomages look better */
  filter: drop-shadow(0 0 8px #d00000);
}

.poke-header {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 2px solid #00eaff; /* neon divider */
}

.poke-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 10px;
  margin: 20px 0;
}

.poke-stats div {
  background: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px #00eaff; /* glowing stat boxes */
}

.poke-details {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 10px;
}

.poke-details p {
  margin: 6px 0;
}

