#cursorMon {
  position: fixed;
  width: 60px;       /* adjust size */
  pointer-events: none; /* prevents blocking clicks */
  z-index: 9999;
  transition: transform 0.05s linear; /* smooth movement */
}



#rotomPhone {
  display: none;
}

#homeScreen {
  text-align: center;
  padding: 20px;
}
/* this is for the homepage app grid*/
.app-grid {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
/*this is what controls what the apps look like*/
.app-icon {
  background-image:ballApp.png;
  color: white;
  padding: 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s;
}
/*This makes the app icon have a hover effect when moused over*/
.app-icon:hover {
  transform: scale(1.1);
}




/*This is the phone's css and animations*/
#rotomPhone {
  width: 860px;
  margin: 20px auto;
  background: #ffffff;
  border: 6px solid #d00000; /* Crimson red but is it rotom red? */
  border-radius: 28px;
  box-shadow: 0 0 25px rgba(0,0,0,0.35);
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #222;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

/* --- header at the top of the phone --- */
#rotomHeader {
  background: #d00000;
  color: white;
  padding: 12px;
  border-radius: 18px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
}

/* --- My search box --- */
#search-box {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border: 2px solid #d00000;
  border-radius: 12px;
  font-size: 1rem;
}

/* --- tab styles. tried to make it more pokemonish --- */
.tab {
  background: #333;
  color: white;
  padding: 8px 12px;
  margin: 10px 0;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
  font-weight: bold;
}



/* --- my display screen--- */
#pokeScreen {
  background: #f5f5f5;
  border-left: 5px solid #d00000;
  padding: 12px;
  border-radius: 8px;
  min-height: 80px;
  font-size: 1rem;
}

/* --- buttons --- */
button {
  background: #d00000;
  color: white;
  border: none;
  padding: 10px 14px;
  margin: 6px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #a00000;
  transform: scale(1.05);
}


/* --- team display--- */
#teamDisplay {
  margin-top: 20px;
  background: #fff;
  border: 3px solid #333;
  padding: 12px;
  border-radius: 12px;
}

